@font-face {
    font-family: 'Merriweather Heavy';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather Heavy'), local('Merriweather-Heavy'),
        url(../fonts/merriweather-heavy.woff) format('woff'),
        url(../fonts/merriweather-heavy.ttf) format('truetype');
}